@import "~bootstrap/dist/css/bootstrap.css";

ul {
  list-style-type: none;
  padding: 0;
}

.avatar-sm {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}

.p-large {
  font-size: 2rem;
  margin: 0;
}

.url-large {
  font-size: 1.3rem;
}

.flex-li {
  padding: 0.3rem;
  display: flex;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  padding: 0.5rem;
}
